.navbar {
    @include flex-row;

    gap: 1.6rem;
    justify-content: flex-end;
    color: $secondary-color;
    margin-bottom: 2rem;

    &__signup, &__signin {
        @include flex-row-c;

        padding: 0.6rem 0.8rem;
        border-radius: 0.4rem;
        font-size: 0.8rem;
        cursor: pointer;
    }

    &__signin {
        background-color: $primary-color;
        color: $neutral-scale-0;
    }

    &__signup {
        border: 0.1rem solid $primary-color;
    }
}