{% extends 'base.html' %}

{% load static %}

{% block title %} Thought {% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'styles/landing_page/index.scss' %}">
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/accounts/profile.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="profile__title">
    {{ username }}'s Profile
</div>
<div class="profile__options">
    <div class="profile__thoughts profile__thoughts--active">Thoughts</div>
    <div class="profile__comments">Comments</div>
</div>

<div class="profile__thoughts-container">
    {% include 'accounts/thoughts.html' %}
</div>

<div class="profile__comments-container hidden">
    {% include 'accounts/comments.html' %}
</div>

{% endblock %}