{% extends 'section.html' %}

{% block content %}

<div class="landing-page">
    <div class="thought__form-container">
            <form action='/thought/post' method="POST" class="form">
                {% csrf_token %}
                <div class="form-field">
                    <textarea type="text" name="thought" id="thought" class="form-input form-field__textarea" required></textarea>
                    <label class="form-label" for="thought">
                        Write your thought! Consider it as your safe space...
                    </label>
                </div>
                <div class="form-field form-field__checkbox">
                    <div class="field-title">
                      Wanna be Anonymous?
                    </div>
                    <label class="form-checkbox__label">
                      <input 
                        type="checkbox" 
                        id="anonymous" 
                        name="anonymous" 
                        class="form-checkbox"
                      >
                      <span class="form-checkbox__slider round"></span>
                    </label>
                </div>
                <button type='submit' name='submit' value='post' class="form-button">Post!</button>
            </form>
        </div>
    </div>
</div>

{% include 'landing_page/feed.html' %}

{% endblock %}