$primary-color: #ff6d42;
$secondary-color: #171717;

$color-scale-4: #ff9d80;
$color-scale-6: #e63400;

$neutral-scale-4: #d6dee5;
$neutral-scale-3: #eaeff4;
$neutral-scale-2: #f4f6f9;
$neutral-scale-1: #fafbfc;
$neutral-scale-0: #ffffff;

$bold-font-weight: 600;